*{
    margin: 0%;
     padding: 0%;
 }
h1{
    text-align:center;
    color: white;

}
header{
    height:130px;
    background-color: rgba(25, 152, 110, 0.788);
    width: 100%;
    
}